{
    "PreserveLoginUrl": "true",
    "ClientValidationEnabled": "true",
    "UnobtrusiveJavaScriptEnabled": "true",
    "ExternalServices": {
        "Google": {
            "ClientId": "***",
            "ClientSecret": "***"
        },
        "TvRange": {
            "ApiKey": "***"
        }
    },
    "Data": {
        "DefaultConnection": {
            "ConnectionString": "***"
        }
    }
}